body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url("./image/vacationpic01.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
  background-color:#424642;
  height: 5rem;
  padding: 25px;
  color:F3F4ED;
  border: #F3F4ED;
}

.btn {
  text-decoration: none;
  font-weight: 140px;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 30px;
  width: 300px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.btn-Warning {
  background-color: #C06014;
  border: #C06014;
}

header {
  color:#F3F4ED;
  font-size: 45px;
  align-items: center;
}

.container {
  display: grid;
  place-items: center;
  justify-content: center;
  margin-top: 70vh;
}

a {
  text-decoration: none;
}
